.wrapper{

}
/*background
---------------------*/ 

.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: left; 

}
.bg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#0f0c29,#302b63,#24243e);
}
.bg-second{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: left;
}
.bg-second:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#C6FFDD,#FBD786,#f7797d);
}

/* normal */
.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	min-width: 64px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	font-family: 'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	background-color: #EF767A;
	border: 0;
	border-radius: 18px;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	user-drag: none;
	transition: all 0.3s;
}
.btn--primary,
.btn--secondary{
	color: #fefefe;
}
.btn.btn--primary{
	background-color: #EF767A;
}
.btn.btn--primary:hover,
.btn--brn--primary:active{
	background-color: #E881A7;
}
.btn.btn--secondary{
	background-color: inherit;
	border: 1px solid #EF767A;
	color: #EF767A;
}
.btn.btn--secondary:hover,
.btn--brn--secondary:active{
	background-color: #E881A7;
	color: #fefefe;
}
.btn.btn--lg{
	font-size: 20px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
	padding: 0 64px;
}
.btn.btn--md{
	font-size: 18px;
	line-height: 48px;
	height: 48px;
	font-weight: 400;
	border-radius: 24px;
	padding: 0 48px;
}
.btn.btn--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	font-weight: 400;
	border-radius: 16px;
	padding: 0 32px;
}
.btn-group .btn{
	margin-right: 8px;
	margin-left: 8px;
}
.btn-group--center{
	text-align: center;
}

/* text btn */
.text-btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin:0;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	font-family:  'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	color: #48484;
}
.text-btn.text-btn--primary{
	color: #EF767A;
}
.text-btn.text-btn--lg{
	font-size: 20px;
	line-height: 48px;
	height: 48px;
	font-weight: 900;
}
.text-btn.text-btn--lg:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #EF767A;
	transition: all 0.3s;
}
.text-btn.text-btn--lg--blue:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #6487f5;
	transition: all 0.3s;
}
.text-btn.text-btn--lg:hover:before{
		width: 100%;
}
.text-btn.text-btn--lg--blue:hover:before{
		width: 100%;
}

/*header
 ---------------------*/  

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #fefefe;
}
.navbar{
	width: 100%;
	height: 100%;
}
.navbar__logo{
	
	width: 410px;
	height: 90px;
	padding: 12px;
	
}
.navbar__logo .logo__home{	
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../image/logo/logo-new6.png);
	
	/*background-repeat: no-repeat;*/

}
@media(max-width:768px){
	.navbar__logo{
		height: 60px;
	}
	.navbar__logo .logo__home{	
	width: 60%;
	height: 100%;
	background-size: contain; 
	background-repeat: no-repeat;
}
}
/* menu-toggle 
---------------------*/
.menu-toggle{
	float:right;
	right: 0;
	top: 0;
	padding: 24px;
	padding-top: 26px;
}
@media (max-width: 768px){
	.menu-toggle{
		padding: 12px;
	padding-top: 16px;
	}
}
.menu-toggle span{
	display: block;
	height: 2px;
	width: 32px;
	background-color: #000;
	margin-bottom: 8px;
	transition: all 0.3s;
}
.menu-toggle:hover span:nth-child(1){
	transform: translateX(-20%);
}
.menu-toggle:hover span:nth-child(3){
	transform: translateX(20%);
}
/* popup-menu 
---------------------*/
.popup-menu{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
#popup-overlay:target{
	opacity: 1;
	visibility: visible;
}
.popup-menu__close{
	padding: 24px;
	width: 80px;
	height: 80px;
	float: right;
	transition:all 0.3s;	
	margin-right: -16px;
	margin-left: -16px;
}
@media (max-width: 768px){
	.popup-menu__close{
		padding: 12px;
		width: 56px;
		height: 56px;
	}
}
.popup-menu__close:hover{
	transform: rotate(180deg);
}
.popup-menu__close span{
	width: 32px;
	height: 2px;
	background-color: #A770EF;
	position: absolute;
	top: 50%;
	left: 50%;
}
.popup-menu__close span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu__close span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-menu__item{
	display: block;
	text-align: center;
	font-family:'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	font-size: 40px;
	font-weight: 900;
	color: #A770EF;
	line-height: 80px;
	transition: all 0.3s;
}
@media (max-width: 768px){
	.popup-menu__item{
		font-size: 24px;
		line-height: 48px;
	}
}
.popup-menu__item:hover{
	color: #CF8BF3;
}

/*hero
---------------------*/  

.hero{
	padding-top: 15vh;
	padding-bottom: 15vh; 

}

@media (max-width: 768px){
	.hero{
		padding-top: 150px;
		padding-bottom: 150px; 
	}
}
@media (max-width: 425px){
	.hero{
		padding-top: 0px;
		padding-bottom: 0px; 
	}
}
.hero__content{
	height:600px;
}
.hero__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid: #000;
}

@media(max-width: 992px){
	.hero__content{
	height:480px;
}
}
@media(max-width: 768px){
	.hero__content{
	height:360px;
}
}
.hero__text{
	position: relative;	
	top: 500px;
	width:100%;
	height: 100px;	
	text-align: center;
	/*left: 160px;
	top: 450px;*/
}
.hero__heading{
	display: block;
	white-space:nowrap;
	font-size: 50px;
	font-weight: 900;
	font-family: 'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	text-align: center;
	color: #fefefe;

}
@media (max-width: 992px){
	.hero__text{top: 400px;}
	.hero__heading{font-size: 40px;}

}

@media (max-width: 768px) {
    .hero__text{top: 300px;}
	.hero__heading{font-size: 25px;}
}
@media (max-width: 425px){
	.hero__text{top: 250px;}
	.hero__heading{font-size: 15px;}
}
/*imagebox*/  

.imgbox{
	width: 100%;
	overflow: hidden;
}
.imgbox__inner{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.imgbox__inner.imgbox__inner--4-3{
	padding-top:calc(100% * 3 / 4) ;
}

.imgbox__inner .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

/*explore
---------------------*/
  
.explore__img{
	width: 100%;
	height: 100px;
	border: 1px solid #000;
}
.work-list{
padding-top: 80px;
}
.work-item{
	margin-bottom: 80px;
}
.work-item__text{
	padding-top: 24px;
}
.work-item__title{
	font-size: 40px;
	font-family: 'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	color: #fefefe;
}
.work-item__intro{
	font-size: 16px;
	line-height: 32px;
	color: #fefefe;
}
.work-item__text__pdleft{
	padding-left: 16px;
}
@media(max-width: 768px){
	.work-item{
		margin-bottom: 48px; 
	}
	.work-item__title{
	font-size: 24px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 8px;
	}
	.work-item__text__pdleft{
		padding-left: 0;
	}
}

/* project 
---------------------*/
.project{
	position: absolute;
	top:90px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all 0.3s;
}
.project__item__font {
	display: block;
	text-align: left;
	font-family: 'Noto Sans TC','Raleway','Helvetica','roboto', arial, sans-serif;
	font-size: 40px;
	font-weight: 900;
	line-height: 80px;
	transition: all 0.3s;
}
.imgbox{
	padding-bottom: 15px;	
}

.ing-fluid{
	max-width: 100%;
	width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*-------------------------*/
/* $footer
---------------------------*/
.footer{
	padding-top: 40px;
	padding-bottom: 40px;
}
.final-text{
	text-align: center;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	color: #fefefe;
}
.copyright{
    text-align: center;
    color: #fefefe;
    font-size: 14px;
}